body::-webkit-scrollbar {
	display: none;
}

h2 {
	font-weight: 600;
	padding-bottom: 5px;
	text-align: center;
}

.data-panel {
	text-align: center;
	border-radius: 8px;
	margin-bottom: 15px;
}
.mini-data-panel {
	padding-top: 5px;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 10px;
	overflow: hidden;
}
.mini-data-panel:first-child {
	border-bottom: #BBB 1px solid;
}

/* 设定数据板块的高度 */
.data-panel>.layui-card-body {
	height: 160px;
}

/* 数据板块中的table表格，让其不超出板块 */
.data-panel .layui-table {
	margin: 0;
}
.data-panel th {
	background-color: white;
  font-weight: 600;
	text-align: center;
}
.data-panel td {
	height: 30px;
}
.hidden-overflow {
  max-height: 160px;
  overflow: auto;
}
.hidden-overflow::-webkit-scrollbar {
  display: none;
}

/* 大的数字，例如左列第一块上的总监控人数 */
.big-number {
	line-height: 56px;
	font-size: 29px;
}
/* 中等的数字，例如中间列最上方的职业危害预警人数 */
.medium-number {
	line-height: 40px;
	font-size: 20px;
}

/* 将layui-col-space5的底部margin修改为0 */
.layui-col-space5 {
	margin-bottom: 0;
}

/* 矿洞地图 */
.mine-map {
	text-align: center;
	border-radius: 8px;
	margin-bottom: 15px;
	overflow: hidden;
}
.mine-map .layui-card-body {
	height: 302px;
}

.data-panel-tips {
	padding-left: 8px;
	padding-top: 16px;
	line-height: 30px;
	font-size: 12px;
}

.pear-container {
	background-color: whitesmoke;
	margin: 10px;
}

.card {
	width: 100%;
	height: 160px;
	background-color: whitesmoke;
	border-radius: 4px;
}

.card .header .avatar {
	width: 28px;
	height: 28px;
	margin: 20px;
	border-radius: 50px;
}

.card .header {
	color: dimgray;
}

.card .body {
	color: gray;
}

.card .body {
	margin-left: 20px;
	margin-right: 20px;
}

.card .footer {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 13px;
	color: gray;
	position: absolute;
}

.custom-tab .layui-tab-title {
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.custom-tab .layui-tab-title li {
	margin-left: 10px;
}

.list .list-item {
	height: 31.8px;
	line-height: 31.8px;
	color: gray;
	padding: 5px;
	padding-left: 15px;
	border-radius: 4px;
	margin-top: 5.2px;
}

.list .list-item:hover {
	background-color: whitesmoke;
}

.list .list-item .title {
	font-size: 13px;
	width: 100%;
}

.list .list-item .footer {
	position: absolute;
	right: 30px;
	font-size: 12px;
}
