<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>控制后台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../assets/css/other/mineMonitor.css" />
	</head>
	<body class="pear-container">
		<div>
			<!-- 标题（煤矿名称） -->
			<h2>寸草塔煤矿（神华金烽煤炭有限责任公司寸草塔煤矿）</h2>
			<div class="layui-row layui-col-space10">
				<!-- 左侧一列 -->
				<div class="layui-col-xs12 layui-col-md4">
					<!-- 1-1. 接尘量预警（表格） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">接尘量预警</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs4 layui-col-md4">
									<div class="layui-row">总监控人数</div>
									<div class="layui-row big-number">6</div>
									<div class="layui-row">接尘超标预警</div>
									<div class="layui-row big-number">0</div>
								</div>
								<div class="layui-col-xs8 layui-col-md8 hidden-overflow">
									<table class="layui-table" lay-skin="nob" lay-size="sm">
										<thead>
											<tr>
												<th>姓名</th>
												<th>工作面</th>
												<th>预警状态</th>
											</tr> 
										</thead>
										<tbody id="table-worker">
											<tr>
												<td>唐韶良</td>
												<td>西</td>
												<td>无预警</td>
											</tr>
											<tr>
												<td>埃斯基</td>
												<td>南</td>
												<td>粉尘预警</td>
											</tr>
											<tr>
												<td>李清照</td>
												<td>东</td>
												<td>粉尘预警</td>
											</tr>
											<tr>
												<td>伽利略</td>
												<td>南</td>
												<td>粉尘预警</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- 1-2. 人员实时分布（环形图） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">人员实时分布</div>
						<div class="layui-card-body">
							<div class="layui-col-xs6 layui-col-md6">
								掘进面
								<div id="echarts-driving" style="height:135px"></div>
							</div>
							<div class="layui-col-xs6 layui-col-md6">
								采煤面
								<div id="echarts-working" style="height:135px"></div>
							</div>
						</div>
					</div>
					<!-- 1-3. 高危人员统计（饼图） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">高危人员统计</div>
						<div class="layui-card-body">
							<div id="echarts-worker" style="height: 160px"></div>
						</div>
					</div>
				</div>
				<!-- 中间一列 -->
				<div class="layui-col-xs12 layui-col-md4">
					<!-- 2-1. 职业危害统计（3*小板块） -->
					<div class="layui-row layui-col-space5">
						<div class="layui-col-xs4 layui-col-md4">
							<div class="layui-panel mini-data-panel">
								<div>职业危害预警</div>
								<div class="pd30">
									<span class="medium-number">3人</span><span> / 34%</span>
								</div>
								<div class="layui-bg-red">高危预警</div>
							</div>
						</div>
						<div class="layui-col-xs4 layui-col-md4">
							<div class="layui-panel mini-data-panel">
								<div>职业危害预警</div>
								<div class="pd30">
									<span class="medium-number">6人</span><span> / 66%</span>
								</div>
								<div class="layui-bg-orange">危险预警</div>
							</div>
						</div>
						<div class="layui-col-xs4 layui-col-md4">
							<div class="layui-panel mini-data-panel">
								<div>矿井环境排名</div>
								<div class="pd30">
									<span class="medium-number">6</span>
								</div>
								<div class="layui-bg-green">正常</div>
							</div>
						</div>
					</div>
					<!-- 2-2. 监测点概览（矿井地图、工人分布、工人轨迹） -->
					<div class="layui-card mine-map">
						<div class="layui-card-header">
							监测点概览
						</div>
						<div class="layui-card-body">
							塞个地图进来
						</div>
					</div>
					<!-- 2-3. 粉尘、呼吸尘监测（折线图） -->
					<div class="layui-card data-panel">
						<div class="layui-card-header">
							粉尘、呼吸尘监测
						</div>
						<div class="layui-card-body">
							<div id="echarts-dust" style="height: 160px"></div>
						</div>
					</div>
				</div>

				<!-- 右边一列 -->
				<div class="layui-col-xs12 layui-col-md4">
					<!-- 3-1. 监测点预警（表格） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">监测点预警</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs4 layui-col-md4">
									<div class="layui-row">监测点</div>
									<div class="layui-row big-number">6</div>
									<div class="layui-row">预警数</div>
									<div class="layui-row big-number">0</div>
								</div>
								<div class="layui-col-xs8 layui-col-md8 hidden-overflow">
									<table class="layui-table" lay-skin="nob" lay-size="sm">
										<thead>
											<tr>
												<th>监测点</th>
												<th>预警项</th>
											</tr> 
										</thead>
										<tbody id="table-warning">
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>风速</td>
											</tr>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>呼吸尘</td>
											</tr>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>温度</td>
											</tr>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>噪音</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- 3-2. 报警类型统计（饼图） -->
					<div class="layui-card data-panel">
						<div class="layui-card-header">
							报警类型统计
						</div>
						<div class="layui-card-body">
							<div id="echarts-warning" style="height: 160px"></div>
						</div>
					</div>
					<!-- 3-3. 物理因素监测（折线图） -->
					<div class="layui-card data-panel">
						<div class="layui-card-header">
							物理因素监测
						</div>
						<div class="layui-card-body">
							<div id="echarts-envi" style="height: 160px"></div>
						</div>
					</div>

				</div>
			</div>




		</div>
		<!--</div>-->
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script type="module" src="../../data/init.js"></script>
		<script>
			// 我的代码
			var url = 'https://q425426g11.wocp.fun'

			// 数据
			// 当前粉尘数据
			var dustData = [0,0];
			// 当前环境数据
			var enviData = [0,0,0,0];
			// 当前工人危险人数
			var workerRiskData = [1,2,3];

			// 历史数据
			var dustList, breathDustList, tempList, humiList, windList, soundList = [0,0,0,0,0,0,0]

			// 掘进面与采煤面的人数
			var drivingWorker = 2, workingWorker = 4;


			layui.use(['layer', 'echarts', 'element', 'count'], function() {
				var $ = layui.jquery,
					layer = layui.layer,
					element = layui.element,
					count = layui.count,
					echarts = layui.echarts;



				// 初始化数据
				window.onload = function(){
					$.get(url+"/api/getUsers", {uname:"王梓"},function(data,status){
						alert("数据: " + data.toString() + "\n状态: " + status);
					})


				}



				// 人员实时分布（掘进面和采煤面）
				// 掘进面
				var echartsDriving = echarts.init(document.getElementById('echarts-driving'), 'walden');
				var echartsWorking = echarts.init(document.getElementById('echarts-working'), 'walden');
				var optionDriving = {
					color: ['#795548','#fff'],
					series: [
						{
							name: '掘进面人数统计',
							type: 'pie',
							radius: ['50%','60%'],
							label: {
								position: 'center',
								formatter: drivingWorker+'人',
								fontSize: 16,
							},
							itemStyle: {
								borderRadius: 4,
								borderColor: '#fff',
								borderWidth: 2
							},
							data: [drivingWorker,workingWorker]
						}
					]
        };
				echartsDriving.setOption(optionDriving);
				// 采煤面
				var optionWorking = {
					color: ['#6A5852','#fff'],
					series: [
						{
							name: '采煤面人数统计',
							type: 'pie',
							radius: ['50%','60%'],
							label: {
								position: 'center',
								formatter: workingWorker+'人',
								fontSize: 16,
							},
							itemStyle: {
								borderRadius: 4,
								borderColor: '#fff',
								borderWidth: 2
							},
							data: [workingWorker,drivingWorker]
						}
					]
        };
				echartsWorking.setOption(optionWorking);


				// 危险人员统计
				var echartsWorker = echarts.init(document.getElementById('echarts-worker'), 'walden');
				var optionWorker = {
					tooltip: {
						trigger: 'item'
					},
					dataset:{
						source: [
							['安全','中危','高危'],
							workerRiskData	// 危险工人数据列表
						]
					},
					color: ['#009688', '#FFB800', '#FF5722'],
					series: [
						{
							type: 'pie', seriesLayoutBy: 'row', radius: '80%',
							label:{ 
								show: true, 
								formatter: '{c}' 
							}, 
							itemStyle: {
								borderColor: '#fff',
								borderWidth: 2,
							}
						}
					]
        };
				echartsWorker.setOption(optionWorker);

				// 粉尘与呼吸尘监测
				var echartsDust = echarts.init(document.getElementById('echarts-dust'), 'walden');
				var optionDust = {
					legend: {
						data: ['粉尘', '呼吸尘']
					},
					tooltip: {
						trigger: 'axis'
					},
					grid: {
						left: '3%',
						right: '4%',
						top: '15%',
						bottom: '0%',
						containLabel: true
					},
					dataset:{
						source: [
							['dust'].concat(timeList),
							['粉尘'].concat(dustList),
							['呼吸尘'].concat(breathDustList)
						]
					},
					xAxis: {type: 'category',gridIndex: 0, splitLine: {show:false}},
					yAxis: {gridIndex: 0},
					series: [
						{type: 'line', seriesLayoutBy: 'row', showSymbol: false, itemStyle: {color: '#B37D4E'}},
						{type: 'line', seriesLayoutBy: 'row', showSymbol: false, itemStyle: {color: '#F3AD4E'}}
					]
				};
				echartsDust.setOption(optionDust);
				
				// 报警类型统计
				var echartsWarning = echarts.init(document.getElementById('echarts-warning'), 'walden');
				var optionWarning = {
					tooltip: {
						trigger: 'item'
					},
					dataset:{
						source: [
							['温度','湿度','风速','噪声'],
							enviData	// 环境数据列表
						]
					},
					// 设置颜色
					color: ['#984843', '#008FBF', '#EAC67A', '#637277'],
					series: [
						{
							type: 'pie', seriesLayoutBy: 'row', radius: '80%',
							// 设置标签
							label:{ 
								show: true, 
								formatter: '{c}' 
							}, 
							itemStyle: {
								// 设置扇形的边框
								borderColor: '#fff',
								borderWidth: 2,
							}
						}
					]
        };
				echartsWarning.setOption(optionWarning);


				// 四项物理因素监测（温湿度、风速、噪声）
				var echartsEnvi = echarts.init(document.getElementById('echarts-envi'), 'walden');
				var optionEnvi = {
					tooltip: {
						trigger: 'axis'
					},
					legend: {show:true},
					grid: {
						left: '3%',
						right: '4%',
						top: '15%',
						bottom: '0%',
						containLabel: true
					},
					color: ['#984843', '#008FBF', '#EAC67A', '#637277'],
					dataset:{
						source: [
							['envi','10:00', '10:05', '10:10', '10:15', '10:20', '10:25', '10:30'],
							['温度'].concat(tempList),
							['湿度'].concat(humiList),
							['风速'].concat(windList),
							['噪声'].concat(soundList)
						]
					},
					xAxis: {type: 'category',gridIndex: 0, splitLine: {show:false}},
					yAxis: {gridIndex: 0},
					series: [
						{type: 'line', seriesLayoutBy: 'row', showSymbol: false,lineStyle:{width:1}},
						{type: 'line', seriesLayoutBy: 'row', showSymbol: false,lineStyle:{width:1}},
						{type: 'line', seriesLayoutBy: 'row', showSymbol: false,lineStyle:{width:1}},
						{type: 'line', seriesLayoutBy: 'row', showSymbol: false,lineStyle:{width:1}}
					]
				};
				echartsEnvi.setOption(optionEnvi);

				// 当屏幕尺寸变化时，让各个echarts图重新调整大小以适应屏幕尺寸的变化
				window.onresize = function() {
					echartsDriving.resize();
					echartsWorking.resize();
					echartsWorker.resize();
					echartsDust.resize();
					echartsWarning.resize();
					echartsEnvi.resize();
				}
			});
		</script>
	</body>
</html>
