<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>控制后台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../admin/css/other/console3.css" />
	</head>
	<body class="pear-container">
		<div>
			<!-- 标题（煤矿名称） -->
			<h2>寸草塔煤矿（神华金烽煤炭有限责任公司寸草塔煤矿）</h2>
			<div class="layui-row layui-col-space10">
				<!-- 左侧一列 -->
				<div class="layui-col-xs12 layui-col-md4">
					<!-- 1-1. 接尘量预警（表格） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">接尘量预警</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs4 layui-col-md4">
									<div class="layui-row">总监控人数</div>
									<div class="layui-row big-number">6</div>
									<div class="layui-row">接尘超标预警</div>
									<div class="layui-row big-number">0</div>
								</div>
								<div class="layui-col-xs8 layui-col-md8 hidden-overflow">
									<table class="layui-table" lay-skin="nob" lay-size="sm">
										<thead>
											<tr>
												<th>姓名</th>
												<th>工作面</th>
												<th>预警状态</th>
											</tr> 
										</thead>
										<tbody>
											<tr>
												<td>唐韶良</td>
												<td>西</td>
												<td>无预警</td>
											</tr>
											<tr>
												<td>埃斯基</td>
												<td>南</td>
												<td>粉尘预警</td>
											</tr>
											<tr>
												<td>李清照</td>
												<td>东</td>
												<td>粉尘预警</td>
											</tr>
											<tr>
												<td>伽利略</td>
												<td>南</td>
												<td>粉尘预警</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- 1-2. 人员实时分布（环形图） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">人员实时分布</div>
						<div class="layui-card-body">
							<div class="layui-col-xs6 layui-col-md6">
								掘进面
								<div id="echarts-driving" style="height:135px"></div>
							</div>
							<div class="layui-col-xs6 layui-col-md6">
								采煤面
								<div id="echarts-working" style="height:135px"></div>
							</div>
						</div>
					</div>
					<!-- 1-3. 高危人员统计（饼图） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">高危人员统计</div>
						<div class="layui-card-body">
							<div id="echarts-people" style="height: 160px"></div>
						</div>
					</div>
				</div>
				<!-- 中间一列 -->
				<div class="layui-col-xs12 layui-col-md4">
					<!-- 2-1. 职业危害统计（3*小板块） -->
					<div class="layui-row layui-col-space5">
						<div class="layui-col-xs4 layui-col-md4">
							<div class="layui-panel mini-data-panel">
								<div>职业危害预警</div>
								<div class="pd30">
									<span class="medium-number">3人</span><span> / 34%</span>
								</div>
								<div class="layui-bg-red">高危预警</div>
							</div>
						</div>
						<div class="layui-col-xs4 layui-col-md4">
							<div class="layui-panel mini-data-panel">
								<div>职业危害预警</div>
								<div class="pd30">
									<span class="medium-number">6人</span><span> / 66%</span>
								</div>
								<div class="layui-bg-orange">危险预警</div>
							</div>
						</div>
						<div class="layui-col-xs4 layui-col-md4">
							<div class="layui-panel mini-data-panel">
								<div>矿井环境排名</div>
								<div class="pd30">
									<span class="medium-number">6</span>
								</div>
								<div class="layui-bg-green">正常</div>
							</div>
						</div>
					</div>
					<!-- 2-2. 监测点概览（矿井地图、工人分布、工人轨迹） -->
					<div class="layui-card mine-map">
						<div class="layui-card-header">
							监测点概览
						</div>
						<div class="layui-card-body">
							塞个地图进来
						</div>
					</div>
					<!-- 2-3. 粉尘、呼吸尘监测（折线图） -->
					<div class="layui-card data-panel">
						<div class="layui-card-header">
							粉尘、呼吸尘监测
						</div>
						<div class="layui-card-body">
							<div id="echarts-dust" style="height: 160px"></div>
						</div>
					</div>
				</div>

				<!-- 右边一列 -->
				<div class="layui-col-xs12 layui-col-md4">
					<!-- 3-1. 监测点预警（表格） -->
					<div class="layui-card data-panel dust-warning">
						<div class="layui-card-header">监测点预警</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space5">
								<div class="layui-col-xs4 layui-col-md4">
									<div class="layui-row">监测点</div>
									<div class="layui-row big-number">6</div>
									<div class="layui-row">预警数</div>
									<div class="layui-row big-number">0</div>
								</div>
								<div class="layui-col-xs8 layui-col-md8 hidden-overflow">
									<table class="layui-table" lay-skin="nob" lay-size="sm">
										<thead>
											<tr>
												<th>监测点</th>
												<th>工作面</th>
												<th>预警项</th>
											</tr> 
										</thead>
										<tbody>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>西</td>
												<td>风速</td>
											</tr>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>南</td>
												<td>呼吸尘</td>
											</tr>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>东</td>
												<td>温度</td>
											</tr>
											<tr>
												<td>KFCCTD_VME_50</td>
												<td>南</td>
												<td>噪音</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- 3-2. 报警类型统计（饼图） -->
					<div class="layui-card data-panel">
						<div class="layui-card-header">
							报警类型统计
						</div>
						<div class="layui-card-body">
							<div id="echarts-warning" style="height: 160px"></div>
						</div>
					</div>
					<!-- 3-3. 物理因素监测（折线图） -->
					<div class="layui-card data-panel">
						<div class="layui-card-header">
							物理因素监测
						</div>
						<div class="layui-card-body">
							<div id="echarts-element" style="height: 160px"></div>
						</div>
					</div>

				</div>
			</div>




		</div>
		<!--</div>-->
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
			layui.use(['layer', 'echarts', 'element', 'count'], function() {
				var $ = layui.jquery,
					layer = layui.layer,
					element = layui.element,
					count = layui.count,
					echarts = layui.echarts;

				// 数字滚动动画，让数据从0逐渐变成440.34
				count.up("value1", {
					time: 4000,			// 用时
					num: 440.34,		// 最终变成的数字
					bit: 2,					// 看不懂
					regulator: 50		// 
				})

				count.up("value2", {
					time: 4000,
					num: 236.30,
					bit: 2,
					regulator: 50
				})

				count.up("value3", {
					time: 4000,
					num: 634.43,
					bit: 2,
					regulator: 50
				})

				count.up("value4", {
					time: 4000,
					bit: 2,
					num: 373.23,
					regulator: 50
				})


				// 我的代码
				// 人员实时分布（掘进面和采煤面）
				// 掘进面
				var echartsDriving = echarts.init(document.getElementById('echarts-driving'), 'walden');
				var echartsWorking = echarts.init(document.getElementById('echarts-working'), 'walden');
				var optionDriving = {
					series: [
						{
							name: '掘进面人数统计',
							type: 'pie',
							radius: ['50%','60%'],
							center: ['50%','50%'], 	// 偏移距离，默认50%,50%，即居中
							label: {
								position: 'center',
								formatter: '{c}人',
								fontSize: 16,
							},
							itemStyle: {
								borderRadius: 4,
								borderColor: '#fff',
								borderWidth: 2
							},
							data: [
								{ value: 3, itemStyle: {color: '#795548'}},//#6D4C41
								{ value: 1, itemStyle: {color: '#fff'}}
							]
						}
					]
        };
				echartsDriving.setOption(optionDriving);
				// 采煤面
				var optionWorking = {
					series: [
						{
							name: '掘进面人数统计',
							type: 'pie',
							radius: ['50%','60%'],
							label: {
								position: 'center',
								formatter: '{c}人',
								fontSize: 16,
							},
							itemStyle: {
								borderRadius: 4,
								borderColor: '#fff',
								borderWidth: 2
							},
							data: [
								{ value: 3, itemStyle: {color: '#6A5852'}},
								{ value: 1, itemStyle: {color: '#fff'}}
							]
						}
					]
        };
				echartsWorking.setOption(optionWorking);


				// 危险人员统计
				var echartsPeople = echarts.init(document.getElementById('echarts-people'), 'walden');
				var optionPeople = {
					tooltip: {
						trigger: 'item'
					},
					series: [
						{
							name: '危险人数统计',
							type: 'pie',
							radius: '80%',
							itemStyle: {
								borderColor: '#fff',
								borderWidth: 2
							},
							data: [
								{ value: 8, name: '安全', itemStyle: {color: '#009688'}},
								{ value: 7, name: '中危', itemStyle: {color: '#FFB800'} },
								{ value: 4, name: '高危', itemStyle: {color: '#FF5722'} }
							],
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}
					]
        };
				echartsPeople.setOption(optionPeople);

				// 粉尘与呼吸尘监测
				var echartsDust = echarts.init(document.getElementById('echarts-dust'), 'walden');
				// const colorList = ["#9E87FF", '#73DDFF', '#fe9a8b', '#F56948', '#9E87FF']
				var optionDust = {
					tooltip: {
						trigger: 'axis'
					},
					legend: {
						data: ['粉尘', '呼吸尘']
					},
					grid: {
						left: '3%',
						right: '4%',
						top: '15%',
						bottom: '0%',
						containLabel: true
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: ['10:00', '10:05', '10:10', '10:15', '10:20', '10:25', '10:30']
					},
					yAxis: {
						type: 'value'
					},
					series: [
						{
							name: '粉尘',
							type: 'line',
							showSymbol: false,
							itemStyle: {color: '#B37D4E'},
							data: [220, 182, 191, 234, 290, 330, 310]
						},
						{
							name: '呼吸尘',
							type: 'line',
							showSymbol: false,
							itemStyle: {color: '#F3AD4E'},
							data: [120, 132, 101, 134, 90, 230, 210]
						}
					]
				};
				echartsDust.setOption(optionDust);
				
				// 报警类型统计
				var echartsWarning = echarts.init(document.getElementById('echarts-warning'), 'walden');
				var optionWarning = {
					tooltip: {
						trigger: 'item'
					},
					series: [
						{
							name: '危险人数统计',
							type: 'pie',
							radius: '80%',
							itemStyle: {
								borderColor: '#fff',
								borderWidth: 2
							},
							data: [
								{ value: 8, name: '温度', itemStyle: {color: '#984843'}},
								{ value: 2, name: '湿度', itemStyle: {color: '#008FBF'}},
								{ value: 1, name: '风速', itemStyle: {color: '#EAC67A'}},
								{ value: 4, name: '噪声', itemStyle: {color: '#637277'}}
							],
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							}
						}
					]
        };
				echartsWarning.setOption(optionWarning);


				// 四项物理因素监测（温湿度、风速、噪声）
				var echartsElement = echarts.init(document.getElementById('echarts-element'), 'walden');
				var optionElement = {
					tooltip: {
						trigger: 'axis'
					},
					legend: {
						data: ['温度', '湿度', '风速', '噪音']
					},
					grid: {
						left: '3%',
						right: '4%',
						top: '15%',
						bottom: '0%',
						containLabel: true
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: ['10:00', '10:05', '10:10', '10:15', '10:20', '10:25', '10:30']
					},
					yAxis: {
						type: 'value'
					},
					series: [
						{
							name: '温度',
							type: 'line',
							showSymbol: false,
							itemStyle: {color: '#984843'},
							data: [120, 132, 101, 134, 90, 230, 210]
						},
						{
							name: '湿度',
							type: 'line',
							showSymbol: false,
							itemStyle: {color: '#008FBF'},
							data: [220, 182, 191, 234, 290, 330, 310]
						},
						{
							name: '风速',
							type: 'line',
							showSymbol: false,
							itemStyle: {color: '#EAC67A'},
							data: [150, 232, 201, 154, 190, 330, 410]
						},
						{
							name: '噪音',
							type: 'line',
							showSymbol: false,
							itemStyle: {color: '#637277'},
							data: [320, 332, 301, 334, 390, 330, 320]
						}
					]
				};
				echartsElement.setOption(optionElement);

				// 当屏幕尺寸变化时，让各个echarts图重新调整大小以适应屏幕尺寸的变化
				window.onresize = function() {
					echartsDriving.resize();
					echartsWorking.resize();
					echartsPeople.resize();
					echartsDust.resize();
					echartsWarning.resize();
					echartsElement.resize();
				}
			});
		</script>
	</body>
</html>
